/* VERSION: 1.0.0 */
/* css/modal-video.css */

#video-modal .setting-row {
    margin-bottom: 12px;
}

#video-modal .setting-row span {
    font-size: 0.8rem;
    color: #888;
    width: 40px;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

#video-modal input[type=range] {
    margin: 0 10px;
}